.locationsListWrapper {
  overflow: hidden;

  height: 540px;
  overflow-y: auto;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Parisienne", serif;
  /* font-size: 2em; */
  margin-block-start:0;
  /* background-image: linear-gradient(rgb(249, 252, 252), rgb(245, 243, 243)); */
  border-bottom:.3px solid rgb(249, 252, 252);
}

 p {
  font-size: 1.5em;
}

.stubborn {
  font-size: .7em;
}

img {
  height: 50px;
}
