
header{
    font-family: 'Pacifico', cursive;
    background-color:rgb(175, 11, 11);
    height:55px;
    color: white;
    font-size:2em;
    padding:0 5%;
}

nav{
    display:flex;
    justify-content: space-between;
    height:100%;
}

header a{
    text-decoration:none;
    color:white;
}



.header_icons{
    font-size:1em;
    max-height:100%;
    /* padding-bottom:10%; */
    /* padding-bottom:50px; */
    box-sizing:border-box;
    transform: translate(0, -5px)
}

.info{

    margin-left:.25em;
    
}