
header{
    font-family: 'Pacifico', cursive;
    background-color:rgb(175, 11, 11);
    height:55px;
    color: white;
    font-size:2em;
    padding:0 5%;
}

nav{
    display:flex;
    justify-content: space-between;
}

header a{
    text-decoration:none;
    color:white;
}

nav span{
    /* font-family: 'Archivo', sans-serif; */
    font-size:.9em;
    display:none;
}

.icons{
    font-size:.85em;
}