.modalUpdate {
  position: fixed;
  top: 0;
  left: 0;
  width:50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Archivo', sans-serif;
}

.modalMainUpdate {
  position:fixed; 
 
  background-image: linear-gradient( rgb(250, 248, 248), rgb(212, 212, 212));
  width: 60%;
  height: 60%;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
}

.displayBlockUpdate {
  display: block;
}

.displayNoneUpdate {
  display: none;
}

.toprowUpdate{
  display:flex;
  justify-content: space-between;
  padding:0 1em;
}