.homeComponent{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
}

.mapWrapper, .locationsListWrapper{
    margin:2%;
    width:100%;
}

.locationsListWrapper{
    background-image: linear-gradient(lightgrey, darkgrey);
    padding:2%;
}

