.homeComponent{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
}

.mapWrapper, .locationsListWrapper{
    margin:2%;
    width:100%;
}

.locationsListWrapper{
    background-image: linear-gradient(rgb(249, 252, 252), lightgrey);
    padding:2%;
    max-height:600px;
}

